%h1 Content
%h3 Create an Account
%ol
  %li In order to create an account, go to the homepage and click on Sign up and enter your firstname, last name , email address , password, address and click on signup
  %li In order to confirm the email address, please go to your email and click on the confirmation link to activate the account
%h3 Login
%ol
  %li Once you have activated your account, click on login button on the homepage and enter your login id and password to login to the website.
  %li If you forgot the password , you can click on forgot password link in order to get the new password.
  
  
  
  
%p if you have any questions please send an email to help@eatathome.com