#welcome_image
    =image_tag "homepage.jpg"
#welcome_content
    %h2 Our Mission
    %p
        Welcome to EatAtHome! We connect foodies with local cooks that provide
        fantastic homemade meals anytime, anywhere.